@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Rubik:wght@400;500;700&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
}

/* Start Loading */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 646px;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #ffcb65;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffcb65 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  justify-content: center;
}

/* end Loading */

.cold-brew {
  display: flex;
  justify-content: space-between;
}
.cont-delivery {
  flex: 1;
  flex-direction: row;
  display: flex;
}
.navs {
  padding: 10px;
}
.none {
  display: none;
}
.image {
  border-radius: 200px;
  width: 300px;
  height: 300px;
  position: relative;
  top: 15px;
}
.text-delivery {
  width: 300px;
}
.delivery-time {
  position: relative;
  left: -40px;
  top: 50px;
  width: 410px;
  border-radius: 10px;
  padding: 50px;
  height: 500px;
  font-family: Poppins;
  font-style: Regular;
  font-size: 18px;
  line-height: 35px;
  line-height: 139%;
  vertical-align: Top;
  color: #6a4029;
  font-weight: 400;
}

.cont-size {
  background-color: #ffba33;
  cursor: pointer;
  width: 50px;
  border-radius: 30px;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.cont-size:hover {
  background-color: #6a4029;
  cursor: pointer;
  width: 50px;
  border-radius: 30px;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.cont-sizes {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #6a4029;
  color: #ffffff;
  width: 50px;
  border-radius: 30px;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.cont-size:visited {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #6a4029;
  color: #ffffff;
}
.cursor {
  cursor: pointer;
}
.cursors {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blacks {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blacks:hover {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
}
.box {
  width: 40px;
  height: 40px;
}
.bgyel {
  height: 50px;
  width: 50px;
  margin: 5px;
  cursor: pointer;
}

.regular {
  font-size: 23px;
  font-weight: 700;
  position: relative;
  top: 8px;
}
.large {
  font-size: 23px;
  font-weight: 700;
  position: relative;
  top: 8px;
}
.xl {
  font-size: 23px;
  font-weight: 700;
  position: relative;
  top: 8px;
}
.choose {
  font-family: Poppins;
  font-style: bold;
  font-size: 22px;
  line-height: 35px;
  line-height: 139%;
  vertical-align: Top;
  color: #000000;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 45px;
}
.size {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 40px;
}

/*  desc */

.desc-brew {
  font-family: Poppins;
  font-style: bold;
  font-size: 41px;
  line-height: 35px;
  line-height: 139%;
  vertical-align: Top;
  color: #000000;
  font-weight: 900;
  position: relative;
  top: -130px;
  left: 30px;
}
.price {
  font-family: Poppins;
  font-style: medium;
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  line-height: 139%;
  vertical-align: Top;
  color: #000000;
  position: relative;
  left: 60px;
}
.btn-cart {
  height: 56px;
  border-radius: 10px;
  width: 290px;
  background-color: #6a4029;
  font-family: Poppins;
  font-style: medium;
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  line-height: 139%;
  vertical-align: Top;
  color: #ffffff;
  border-color: #6a4029;
}
.btn-delete {
  height: 56px;
  border-radius: 10px;
  width: 290px;
  background-color: #000000;
  font-family: Poppins;
  font-style: medium;
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  line-height: 139%;
  vertical-align: Top;
  color: #ffffff;
  border-color: #6a4029;
}
.btn-staff {
  height: 56px;
  border-radius: 10px;
  width: 290px;
  font-family: Poppins;
  font-style: medium;
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  line-height: 139%;
  vertical-align: Top;
  color: #6a4029;
  background-color: #ffba33;
  border-color: #ffba33;
}
.methode-dev {
  width: 470px;
  position: relative;
  left: -25px;
  top: 110px;
}
.text-dev {
  font-family: poppins;
  font-style: bold;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  line-height: 139%;
  vertical-align: Top;
  position: relative;
  left: 32px;
}

.btn-D {
  background-color: #6a4029;
  font-family: rubik;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  line-height: 139%;
  vertical-align: Top;
  color: #ffffff;
  margin-right: 10px;
}
.btn-D {
  background-color: #6a4029;
  font-family: rubik;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  line-height: 139%;
  vertical-align: Top;
  color: #ffffff;
  margin-right: 10px;
}
.btn-D:hover {
  background-color: #6a4029;
  font-family: rubik;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  line-height: 139%;
  vertical-align: Top;
  color: #ffffff;
  margin-right: 10px;
}
.btn-del {
  font-family: rubik;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  line-height: 139%;
  vertical-align: Top;
  color: #a3a3a3;
  margin-right: 10px;
}
.btn-dels {
  font-family: rubik;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  line-height: 139%;
  vertical-align: Top;
  background-color: #6a4029;
  margin-right: 10px;
  color: #ffffff;
}
.btn-dels:hover {
  color: #ffffff;
  background-color: #6a4029;
}
.btn-del:hover {
  font-family: rubik;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  line-height: 139%;
  vertical-align: Top;
  background-color: #6a4029;
  margin-right: 10px;
}
.buttongroup {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  top: -100px;
  gap: 20px;
}
.btn-P {
  font-family: rubik;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  line-height: 139%;
  vertical-align: Top;
  color: #a3a3a3;
}
.btn-P:hover {
  font-family: rubik;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  line-height: 139%;
  vertical-align: Top;
  background-color: #6a4029;
}
.set-time {
  font-family: rubik;
  font-style: Regular;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  line-height: 139%;
  vertical-align: Top;
  color: #000000;
  position: relative;
  top: 10px;
  left: -9px;
  width: 700px;
}
.input-time {
  border: none;
  width: 400px;
  text-decoration: underline;
  padding: 10px;
  font-size: 18px;
}

.cont-card {
  width: 700px;
  position: relative;
  top: 70px;
  left: -130px;
}
.card-down {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.image-coffee {
  border-radius: 70px;
  width: 100px;
  height: 100px;
  position: relative;
  top: 40px;
  left: 50px;
}

.title-coffee {
  font-family: poppins;
  font-style: bold;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  line-height: 139%;
  vertical-align: Top;
  color: #000000;
  position: relative;
  left: 180px;
  top: -60px;
}
.size-coffee {
  font-family: poppins;
  font-style: medium;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  line-height: 139%;
  vertical-align: Top;
  color: #000000;
  position: relative;
  left: 180px;
  top: -60px;
  margin-bottom: 5px;
}

.btn-checkout {
  width: 200px;
  height: 100px;
  border-radius: 20px;
  position: relative;
  top: -150px;
  left: 750px;
  font-family: poppins;
  font-style: medium;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  line-height: 139%;
  vertical-align: Top;
  color: #000000;
}
