@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Rubik:wght@400;500;700&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-image: url("../assets/images/forgot-bg.png");
  background-size: cover;
  height: 700px;
  width: 100%;
}

.btn {
  height: 50px;
  width: 150px;
  background-color: #ffba33;
  color: #6a4029;
  font-weight: 700;
}
.form {
  position: relative;
  top: 160px;
  left: 9rem;
}

/* Start Loading */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 4px;
  left: 22px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -70px;
  top: 0px;
  width: 30px;
  height: 30px;
  margin: 8px;
  border: 5px solid #ffba33;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffba33 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-text {
  position: relative;
  top: -74px;
  left: 18px;
  font-size: 20px !important;
}
/* End Loading */

.inputatas {
  position: relative;
  top: -28px;
  display: flex;
  flex-direction: column;
  left: -126px;
  gap: 12px;
}
.shows {
  width: 30px;
}
.conteyes {
  width: 40px;
  position: relative;
  left: 52.5rem;
}
.conteyes2 {
  width: 40px;
  position: relative;
  left: 52.5rem;
  top: 2rem;
}
.show {
  width: 30px;
}
.none {
  display: none;
}
.inputbawah {
  position: relative;
  top: -6px;
}
.change {
  position: relative;
  top: -13rem;
  left: -8rem;
}
.form-control {
  height: 50px;
  width: 400px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  position: relative;
  left: -11px;
  top: 30px;
}

.btn-b {
  height: 60px;
  background-color: #6a4029;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  position: relative;
  top: 100px;
  width: 210px;
  left: -12px;
}
.send {
  position: relative;
  top: 22px;
  border-radius: 10px;
  width: 250px;
  height: 55px;
  left: -4px;
  border: none;
}
.text-here {
  color: #ffffff;
  text-align: center;
  font-family: Poppins;
  font-style: Bold;
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
  line-height: 100%;
  vertical-align: Top;
  color: #ffffff;
  position: relative;
  top: 100px;
  left: -11px;
}
.minute {
  position: relative;
  top: 120px;
  left: -11px;
  text-align: center;
  color: #ffffff;
  font-family: Poppins;
  font-style: Bold;
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
  line-height: 100%;
}

.cont-text-here {
  position: relative;
  top: 180px;
}
