@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Rubik:wght@400;500;700&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
}

.jumb-title {
  background-image: url(../assets/images/history-bg.png);
  background-size: cover;
}
.navs {
  padding: 10px;
}
.overflowss {
  overflow-y: overlay;
}

.title {
  font-family: rubik;
  font-style: bold;
  font-weight: 700;
  line-height: 47.4px;
  font-size: 40px;
  line-height: 100%;
  vertical-align: Top;
  color: #ffffff;
  text-align: center;
}
/* Start Loading */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 137px;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #ffcb65;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffcb65 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  color: #ffcb65;
  justify-content: center;
}

/* end Loading */

.sub-title {
  font-family: rubik;
  font-style: regular;
  font-weight: 400;
  line-height: 47.4px;
  font-size: 18px;
  line-height: 100%;
  vertical-align: Top;
  color: #ffffff;
  text-align: center;
}
/* End Main */

/* star Card */

/* Footer */
.footer {
  padding: 0px;
}
