@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Rubik:wght@400;500;700&display=swap");

.content-productsadmin {
  cursor: pointer;
  margin-bottom: 12%;
  width: 150px;
  height: 233px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 0 3px #9f9f9f;
  box-shadow: 0px 30px 60px 0px #3939391a;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.content-product {
  cursor: pointer;
  margin-bottom: 10%;
  width: 150px;
  height: 233px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 0 3px #9f9f9f;
  box-shadow: 0px 30px 60px 0px #3939391a;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.product_image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.none {
  display: none;
}
.edited {
  width: 35px;
  height: 35px;
  position: relative;
  top: -75px;
  left: 40px;
}

.label-promo {
  position: absolute;
  background-color: white;
  font-size: 20px;
  height: 32px;
  width: 70px;
  top: -22px;
  right: -35px;
  padding: 1px;
  color: #000000;
  font-weight: bolder;
  font-family: "Poppins";
  border-radius: 15px;
  text-align: center;
  align-items: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.titlezz {
  color: #6a4029;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  height: 35px;
}

.price {
  font-family: "Poppins";
  font-size: 14px;
  color: #d6a137;
}

@media only screen and (max-width: 768px) {
  /* .content-product {
    margin-bottom: 27% !important;
  } */
}
