@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Rubik:wght@400;500;700&display=swap");

/* .container {
  max-width: 1440px;
  margin-bottom: 10px;
} */

.fontz {
  font-family: "Rubik" !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.left-nav {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.left-nav span {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

.btn-size {
  background-color: #ffba33;
  color: #6a4029;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.btn-size:hover {
  background-color: #ffba33;
  color: #6a4029;
}

.right-nav {
  align-items: center;
  gap: 25px;
  width: 300px;
}

.center-nav {
  gap: 2rem;
}

.no-underlinenavbar {
  text-decoration: none;
  position: relative;
  border: none;
  background-color: #ffffff;
  padding: 10px 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.no-underline {
  text-decoration: none;
  position: relative;
  border: none;
  background-color: #ffffff;
  padding: 10px 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.no-underline:hover {
  text-decoration: none;
  position: relative;
  border: none;
  background-color: #ffffff;
  padding: 10px 20px;
  transform: scale(1.5);
  color: #9e684b;
}
.login {
  background-color: #ffba33;
  border: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #6a4029;
  height: 40px;
  width: 130px;
}
.login:hover {
  background-color: #ffba33;
  border: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #6a4029;
  height: 40px;
  width: 130px;
  transform: scale(1.1) !important;
}
.login:active {
  background-color: #ffba33 !important;
  border: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #6a4029;
  height: 40px;
  width: 130px;
  transform: scale(1.1) !important;
}
.sign-up {
  background-color: #6a4029;
  border: none;
  height: 40px;
  width: 130px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.sign-up:hover {
  background-color: #6a4029;
  border: none;
  height: 40px;
  width: 130px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  transform: scale(1.1) !important;
}
.sign-up:active {
  background-color: #6a4029 !important;
  border: none;
  height: 40px;
  width: 130px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  transform: scale(1.1) !important;
}

@media only screen and (min-width: 1439px) {
  .gaps {
    gap: 565px;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    max-width: 1440px;
  }
  .login {
    font-size: 13px;
    line-height: 19px;
    color: #6a4029;
    height: 37px;
  }

  .py {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .right-nav {
    align-items: center;
    gap: 0px;
    width: 160px;
    position: relative;
    top: 0px;
  }
  .center-nav {
    gap: 15px;
    position: relative;
    left: 0px;
  }
  .icon {
    display: none;
  }
  .no-underline {
    padding: 0px;
  }
  .sign-up {
    font-size: 12px;
    height: 38px;
  }
}

.cont-right-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 425px) {
  .center-nav {
    display: none !important;
  }
  .right-nav {
    display: none !important;
  }
}
