@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Rubik:wght@400;500;700&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
}

.stock {
  position: relative;
  top: -45px !important;
}
.cont-footer {
  max-width: 1440px;
  margin: 0px;
}
/* start header */
.header {
  border-bottom: 1px solid grey;
  max-width: 1440px;
  padding-left: 76px;
  padding-right: 38px;
}
/* end header */
/* start main content */

.sect-1-promo {
  margin-bottom: 150px !important;
}
.sect-1 {
  max-width: 1440px;
  position: relative;
  top: 4rem;
  height: 640px;
  margin-bottom: 100px;
}
.top {
  top: 25px !important;
}
.cont-form-group {
  padding-top: 30px !important;
}
.btnsavepromo {
  position: relative;
  top: 96px !important;
  width: 320px !important;
  left: 95px !important;
}
.main {
  display: flex;
}
.bg-image {
  width: 15rem;
}
.codes {
  position: relative !important;
  top: -100px !important;
}
.label {
  margin-bottom: 15px !important;
}
.images {
  position: relative;
  left: 0px;
  border-radius: 136px;
  height: 233px;
  width: 245px;
}
.image {
  display: flex;
  align-items: center;
  align-content: center;
}

.cont-btn {
  width: 300px;
  margin: 0px;
  position: relative;
  top: 1rem;
  left: -1rem;
}
.btn-checkout {
  width: 16rem;
  height: 3rem;
  border-radius: 10px;
  left: 0px;
  top: 15px;
  position: relative;
  margin-bottom: 20px;
}
.btn-up {
  font-size: Rubik;
  font-style: Bold;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  line-height: 100%;
  color: #ffffff;
}
.btn-down {
  font-size: Rubik;
  font-style: Bold;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  line-height: 100%;
  color: #6a4029;
}
.form-group {
  position: relative;
  top: 15px;
  margin-bottom: 70px;
  left: 13px;
  width: 255px;
  font-size: Rubik;
  font-style: Bold;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  line-height: 100%;
  color: #6a4029;
}

.label {
  margin-bottom: 25px;
}
.hour {
  margin-bottom: 30px;
  border-radius: 10px;
}

.input {
  width: 32rem;
  outline: none;
  height: 40px;
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 10px;
}
.input::placeholder {
  width: 32rem;
  border: none;
}
.select {
  padding-top: 7px;
  cursor: pointer;
}
.hiddenz {
  position: relative;
  top: -35px;
  left: 57px;
  opacity: 0;
  cursor: pointer;
}
.hiddenz:hover {
  position: relative;
  top: -35px;
  left: 57px;
  opacity: 0;
  cursor: pointer;
}
.title-name {
  font-family: Rubik;
  font-style: Bold;
  font-size: 20px;
  line-height: 30px;
  line-height: 100%;
  font-weight: 700;
  color: #6a4029;
}
.my-1 {
  position: relative;
  top: -10px;
}

.placeholder {
  margin-bottom: 30px;
}
.size {
  font-family: Rubik;
  font-style: Bold;
  font-size: 30px;
  line-height: 30px;
  line-height: 100%;
  font-weight: 700;
  color: #6a4029;
  position: relative;
  top: 11px;
  left: -39px;
}
.size-2 {
  left: -36px;
}
.size-3 {
  left: -45px;
  font-size: 29px;
  top: 12px;
}
.box-size {
  display: flex;
  margin-top: 20px;
}
.box-weight {
  display: flex;
}
.weight {
  position: relative;
  position: relative;
  top: 14px;
  left: -37px;
}
.ellips {
  width: 57px;
  height: 57px;
  margin-left: -26px;
  position: relative;
  top: -1px;
  left: 14px;
}

.btn-delivery {
  width: 120px;
  margin-right: 10px;
  font-family: Rubik;
  font-style: Bold;
  font-size: 015x;
  line-height: 30px;
  line-height: 100%;
  font-weight: 700;
  color: #6a4029;
}
.btn-delivery-3 {
  width: 120px;
  margin-right: 10px;
  font-family: Rubik;
  font-style: Bold;
  font-size: 015x;
  line-height: 30px;
  line-height: 100%;
  font-weight: 700;
  color: #4f5665;
  background-color: rgba(186, 186, 186, 0.35);
}
.btn-save-product {
  display: flex;
  flex-direction: column;
  width: 201px;
  position: relative;
  left: 165px;
  top: 25px;
}

.btn-up-2 {
  background-color: #6a4029;
  margin-bottom: 14px;
  height: 55px;
  border-radius: 10px;
  font-family: Poppins;
  font-style: Bold;
  font-size: 17px;
  line-height: 35px;
  line-height: 139%;
  color: #ffffff;
}
.btn-up-2:hover {
  background-color: #6a4029;
  margin-bottom: 14px;
  height: 55px;
  border-radius: 10px;
  font-family: Poppins;
  font-style: Bold;
  font-size: 17px;
  line-height: 35px;
  line-height: 139%;
  color: #ffffff;
  transform: scale(1.1);
}
.btn-down-2 {
  background-color: rgba(186, 186, 186, 0.35);
  height: 55px;
  border-radius: 10px;
  font-family: Poppins;
  font-style: Bold;
  font-size: 17px;
  line-height: 35px;
  line-height: 139%;
  color: #4f5665;
}
.btn-down-2:hover {
  background-color: rgba(186, 186, 186, 0.35);
  height: 55px;
  border-radius: 10px;
  font-family: Poppins;
  font-style: Bold;
  font-size: 17px;
  line-height: 35px;
  line-height: 139%;
  color: #4f5665;
  transform: scale(1.1);
}
/* end main content */
.none {
  display: none;
}
/* Start Loading */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: -5px;
  left: 29px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -70px;
  top: 0px;
  width: 30px;
  height: 30px;
  margin: 8px;
  border: 5px solid #ffba33;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffba33 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-text {
  position: relative;
  top: -77px;
  left: 15px;
}
/* End Loading */

@media only screen and (max-width: 768px) {
  #cont-footer-right {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0b132a;
    margin: 0px;
    position: relative;
    left: 71px;
    width: 100px;
  }
  .fr {
    margin-right: 0px;
    height: 70px;
    width: 150px;
    position: relative;
    left: 0px;
  }
  #preview {
    margin: 0px;
    font-size: 12px;
    width: 191px;
  }
  /* #list-footer {
    position: relative;
    left: 10px;
  } */
  #cont-footer-right {
    margin: 0px !important;
    position: relative;
    left: 19rem;
  }
}
